.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 250px;
  width: 250px;
  padding: 1rem;
}

.featureTitle {
  text-align: left;
}

.featureDescription {
  text-align: left;
  color: var(--ifm-font-color-secondary);
}

.featureLink {
  display: inline-block;
  font-weight: bold;
  color: var(--ifm-link-color);
  text-decoration: none;
}

.featureLink:hover {
  text-decoration: underline;
}
