/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  color: #000000;
  padding: 2rem 2rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-lightest);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  width: 75%;
  max-width: 100%;
  height: auto;
  display: block;
  grid-column: 2;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  align-items: center;
  gap: 20px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 1rem;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .iconContainer {
    grid-row: 1;
  }

  .textContent {
    grid-row: 2;
  }

  .icon {
    width: 75%;
    grid-column: auto;
  }
}
